@import '../../styles.scss';

.container-content {
    .header-img {
        width: 100%;
    }

    .title-input-area {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;

        .page-tittle {
            color: white;
            text-align: center;
        }

        .search-ip-area {
            display: flex;
            justify-content: center;

            .ip-input {
                width: 500px;

                input {
                    height: 45px;
                }
            }
        }

        .location-ip-data {
            display: flex;
            justify-content: center;
            margin-top: 120px;

            .card-ip-data {
                width: 80%;
                background-color: white;
                border-radius: 15px;
                border: 1px solid;

                .card-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .ip-data {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        height: 150px;
                        width: 24%;

                        .data-title {
                            color: $dark-gray;
                            font-weight: bold;
                        }
                    }

                    .separator {
                        height: 70px;
                        width: 0px;
                        padding: 0px;
                        border: solid 1px $dark-gray;
                    }
                }
            }
        }
    }
}

.map-area {
    position: relative;
    z-index: -1;

    #map {
        height: 100vh;
    }
}