<div class="header">
    <img class="header-img" src="./../../assets/pattern-bg-desktop.png">

    <div class="title-input-area">
        <h1 class="page-tittle mt-4 mb-5">IP Address Tracker</h1>

        <div class="search-ip-area">
            <div class="input-group ip-input">
                <input class="form-control" type="text" placeholder="Search for any IP address or domain">
    
                <button class="btn btn-dark" type="button">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>